{
   "infuraProjectId": "68e9ddf037830185",
   "etherscanApiKey": "IYCTRKFJDZYT25A4",
   "bscscanApiKey": "8STPU6H6F756UBY9ND",
   "privateKey": "58dc50f0863a2fb911576",
   "deployer_address": "0c6efE284a7cf46",
   "alchemyApiKey": "gaW_kfYzX3WOA-YwSX"
}
